.all{
    text-align: center;
    margin-top: 100px;
    margin-left: 400px;
    height: 470px;
    padding: 30px;
    width: 300px;
    background-color: gray;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: white;
   
}
#screen{
    height: 60px;
    width: 250px;
    border-radius: 7px;
    margin-top: 10px;
    margin-left: 22px;
    color: white;
    text-align: end;
    background-color: black;
    font-size: 40px;
    
}
#screen2{
    height: 60px;
    width: 250px;
    border-radius: 7px;
    margin-top: -18px;
    margin-left: 22px;
    color: white;
    text-align: end;
    background-color: black;
    font-size: 40px;
    
}
#middle{
    padding: 30px;
    margin-top: -30px;
    
}
button{
    padding: 20px;
    border-radius: 10px;
    color: white;
    background-color: orange;
    font-size: large;
    
}